html,body{
    padding: 0;
    margin: 0;
}
header{
    background-color: purple;
    height: 60px;
}
section{
background-color: greenyellow;
overflow: hidden;
}
nav{
    background-color: beige;
    float: left;
    width: 25%;
}
article{
    background-color: aquamarine;
    float: left;
    width: 55%;
    height: 80px;
}
footer{
    background-color: pink;
    height: 120px;
    
}
#container{
    background-color: purple;
   max-width: 1000px;
   margin:0 auto;
}